@model Radus_ConSec.Models.Employee
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 style="font-size:30px;">Güvenlik Ekleme Sayfası</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="#" class="needs-validation" novalidate="">
                                <div class="form-group">
                                    <div class="d-block">
                                        @Html.LabelFor(a => a.EmployeeName, new { style = "font-size:20px;" })
                                    </div>
                                    @Html.TextBoxFor(a => a.EmployeeName, new { style = "width:500px;", @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.EmployeeName)
                                </div>

                                <div class="form-group">
                                    <div class="d-block">
                                        @Html.LabelFor(a => a.EmployeeLastname, new { style = "font-size:20px;" })
                                    </div>
                                    @Html.TextBoxFor(a => a.EmployeeLastname, new { style = "width:500px;", @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.EmployeeLastname)
                                </div>
                                <div class="form-group">
                                    <div class="d-block">
                                        @Html.LabelFor(a => a.EmployeeEmail, new { style = "font-size:20px;" })
                                    </div>
                                    @Html.TextBoxFor(a => a.EmployeeEmail, new { style = "width:500px;", @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.EmployeeEmail)
                                </div>

                                <div class="form-group">
                                    <div class="d-block">
                                        @Html.LabelFor(a => a.EmployeePassword, new { style = "font-size:20px;" })
                                    </div>
                                    @Html.PasswordFor(a => a.EmployeePassword, new { style = "width:500px;", @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.EmployeePassword)
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" tabindex="4" style="font-size:15px;">
                                        Güvenlik Ekle
                                    </button>

                                    <button type="button" onclick="location.href='@Url.Action("Guvenlik","Yonetici")'" class="btn btn-danger" tabindex="4" style="font-size:15px;">
                                        Geri Dön
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}