@model Radus_ConSec.ADMIN

@{
    ViewBag.Title = "ProfilDuzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ProfilDuzenle", "Yonetici", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 style="font-size:30px;">Profil Bilgilerini Düzenle</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="#" class="needs-validation" novalidate="">
                                <div class="form-group">
                                    <div class="d-block" style="font-size:20px;">
                                        @Html.HiddenFor(m => m.ADMINID)
                                        Yeni İsim
                                    </div>
                                    @Html.TextBoxFor(a => a.ADMINNAME, new { style = "width:500px;", @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    <div class="d-block" style="font-size:20px;">
                                        Yeni Soyisim
                                    </div>
                                    @Html.TextBoxFor(a => a.ADMINLASTNAME, new { style = "width:500px;", @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    <div class="d-block" style="font-size:20px;">
                                        Yeni e - Posta
                                    </div>
                                    @Html.TextBoxFor(a => a.ADMINEMAIL, new { style = "width:500px;", @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    <div class="d-block" style="font-size:20px;">
                                        Yeni Şifre
                                    </div>
                                    @Html.TextBoxFor(a => a.ADMINPASSWORD, new { style = "width:500px;", @class = "form-control", @type = "password" })
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" tabindex="4" style="font-size:15px;">
                                        Düzenle
                                    </button>

                                    <button type="button" onclick="location.href='@Url.Action("Anasayfa","Yonetici")'" class="btn btn-danger" tabindex="4" style="font-size:15px;">
                                        Geri Dön
                                    </button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}